.container{
    padding: var(--padding-s);
    /* border-radius: var(--padding-s); */
    display: flex;
    gap: var(--gap-s);
    align-items: center;
    border-radius: var(--radius-m);
}

.warning{
    background-color: var(--clr-warning-bg-light) !important;
    color: var(--clr-warning-dark) !important;
}