/* ========================================================================== */
/* Navbar */

nav {
    border-bottom: 1px solid var(--clr-border);
    width: 100%;
    background-color: var(--clr-white);
}

.navbarContentWrapper {
    display: flex;
    flex-direction: column;
    max-width: min(90%, 75vw);
    margin: 0 auto;
    padding: clamp(1rem, 2vw, 2rem) 0;
    gap: clamp(0.8rem, 2vw, 2rem);
}

.navbarContentWrapper .childWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: clamp(1.2rem, 2.5vw, 3rem);
    position: relative;
}

.navbarContentWrapper .childWrapper .logo {
    display: flex;
    align-items: center;
}

.navbarContentWrapper .childWrapper .logo img {
    width: clamp(11rem, 10vw, 14rem);
    height: auto;
}

/* ========================================================================== */
/* Search */
.searchBarWrapper {
    max-width: 60rem;
    flex-grow: 1;
}

.searchMobileToggleBtn {
    display: none;
}

/* ========================================================================== */
/* Action Buttons */
.actionButtons, .actionButtons a, .accountWrapper button {
    display: flex;
    gap: clamp(0.6rem, 1vw, 1rem);
    align-items: stretch;
    height: 100%;
}

.actionButtons .actionButtonStyle {
    border: none;
}


.actionButtons .callBtn {
    height: 100%;
    border: none;
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.actionButtons .callBtn svg {
    color: var(--clr-blue-dark);
}

/* ========================================================================== */
/* Account Popup */
.accountWrapper {
    position: relative;
}

.accountPopup {
    position: absolute;
    top: calc(100% + var(--gap-xs));
    right: 0;
    background: var(--clr-white);
    box-shadow: var(--shadow-form);
    border-radius: var(--radius-xxs);
    padding: var(--padding-xs);
    z-index: 1000;
    min-width: 250px;
    gap: var(--gap-xs);
    display: flex;
    flex-direction: column;
}

.accountPopup button{
    justify-content: flex-start;

}

.logoutButton:hover{
    color: var(--clr-danger) !important;
}

.accountPopup button:hover, .accountPopup a:hover, .accountPopup button:hover > a, .accountPopup a:hover > button  {
    background: var(--clr-gray-light);
    color: var(--clr-primary);
}

/* ========================================================================== */
/* Unit Conversion */
.unitConversionContainer {
    position: absolute;
    top: 120%;
    right: 0;
    width: clamp(30rem, 25vw, 38rem);
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
}

.menuCategories{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xl);
}
.menuCategories li{
    list-style: none;
}


/* ========================================================================== */
/* Media Queries */
@media (max-width: 1440px) {
    .navbarContentWrapper {
        max-width: 90%;
    }
}

@media (max-width: 1200px) {
    .navbarContentWrapper {
        max-width: 95%;
    }
    .searchBarWrapper {
        display: none;
    }
    .searchMobileToggleBtn {
        display: block;
    }
}

@media (max-width: 768px) {
    .actionButtons .callBtn {
        display: none;
    }
    .unitConversionContainer {
        width: 100%;
    }
}
