/* Product Details Layout */
.productDetailsContainer {
  display: flex;
  flex-direction: row;
  gap: var(--gap-xxl);
  margin-bottom: var(--gap-l);
}

.productDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}

.productImagesContainer {
  display: flex;
  flex-direction: column;
  gap: var(--padding-s);
}

.largePreviewImage {
  width: 100%;
  max-width: 600px;
  height: 600px;
  object-fit: contain;
  transition: transform 0.2s;
  border: 1px solid var(--clr-border);
}

.thumbnailContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-s);
}

.thumbnailImage {
  width: 80px;
  height: 80px;
  object-fit: contain;
  cursor: pointer;
  transition: opacity 0.2s;

}

.thumbnailImage:hover {
  opacity: 0.8;
}

.selectedThumbnail {
  border: 2px solid var(--clr-primary);
}

.productDescription {
  font-size: var(--font-size-small);
  color: var(--clr-gray);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: var(--padding-xxs);
}

.productDescription hr{
  border: 0.75px solid var(--clr-border);
  margin: var(--padding-xxs) 0;
}

.presentDescription h2 {
  font-size: var(--font-size-heading);
  color: var(--clr-text);
  margin-bottom: var(--padding-xxs) var(--padding-s);
}

.productDescription p {
  margin-bottom: var(--padding-xxs) var(--padding-s);
}

.productDescription ul {
  list-style: disc;
  margin-left: 2rem;
  margin-bottom: var(--padding-xxs) var(--padding-s);
}

/* Sticky Variant Navigation Bar */
.variantNavBar {
  position: sticky;
  top: 0;
  background-color: (255, 255, 255, 1);
  backdrop-filter: blur(40px);
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  gap: var(--padding-s);
  padding: var(--padding-xxs) 0;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--clr-border);
}

.variantNavLink {
  background: transparent;
  color: var(--clr-text);
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  text-transform: capitalize;
}

.variantNavLink.activeVariant {
  color: var(--clr-primary);
}

.variantNavLink:hover,
.variantNavLink:focus {
  border-color: var(--clr-black);
  outline: none;
}

/* Table Styles */
.tableContentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
}

.variantSection {
  margin-bottom: var(--gap-l);
  display: flex;
  flex-direction: column;
  position: relative;
  gap: var(--gap-s);
}

.variantHeading{
  text-transform: capitalize;
}

.tableContainer {
  width: 100%;
  overflow-x: scroll;
  border: 1px solid var(--clr-border);
}

.tableWrapper {
  min-width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--font-size-base);
  color: var(--clr-text);
}

.table th,
.table td {
  padding: var(--padding-xxs) var(--padding-s);
  text-align: center;
  border-right: 1px solid var(--clr-border);
  min-width: 120px;
  border-top: 1px solid var(--clr-border);
}


.table td {
  color: var(--clr-text);
  font-weight: 400 !important;
}

.table tr:hover td{
  color: var(--clr-black);
  font-weight: 600 !important;
}

.table tr:hover  .priceButton {
  font-weight: 600 !important;

}

.table th:nth-last-child(1),
.table td:nth-last-child(1),
.summaryTable th:nth-last-child(1),
.summaryTable td:nth-last-child(1) {
  border-right: none !important;
}

.defaultHeader,
.pricingTierHeader,
.unitsPerHeader,
.unitsInputHeader {
  white-space: nowrap;
  text-transform: capitalize;
}

.defaultHeader{
  background-color: var(--clr-accent);
  color: var(--clr-blue-dark);
}


table thead tr{
  border-bottom: 1px solid var(--clr-border);
}

.unitsPerHeader,
.unitsInputHeader {
  background-color: var(--clr-green-light);
  color: var(--clr-green-text);
}

.pricingTierHeader{
  background-color: var(--clr-yellow-light);
  color: var(--clr-yellow-text);

}

.longField {
  min-width: 300px;
}

.thWithButtons {
  display: flex;
  align-items: center;
  gap: var(--padding-xxs);
  flex-direction: column;
}

.thButtonsWrapper {
  display: flex;
  gap: var(--padding-xxs);
}

.thButton {
  background: none;
  border: 1px solid var(--clr-border);
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background-color: var(--clr-white);

}

.thButton.active {
  background: var(--clr-primary);
  color: #ffffff;
  border-color: var(--clr-primary);
}

.thButton:hover,
.thButton:focus {
  background: var(--clr-primary);
  color: #ffffff;
  outline: none;
}

.selectedRow {
  background: var(--clr-primary-tint-light);
  color: var(--clr-text);
}

.selectedRow .priceButton, .selectedRow td {
  font-weight: 600 !important;
  color: var(--clr-black);
}

.imageColTd{
  display: flex;
  justify-content: center;
}

.colImageContainer {
  width: 60px;
  height: 60px;
  object-fit:fill;
  display: flex;
  justify-content: center;
  align-self: center;
}

.priceButton {
  border: none;
  cursor: pointer;
  padding: var(--padding-xxs) var(--padding-s);
  color: var(--clr-text);
  width: 100%;
  height: 50px;
}

.priceButton:hover,
.priceButton:focus {
  outline: none;
}

.selectedTier {
  color: var(--clr-white) !important;
  font-weight: bold;
  background-color: var(--clr-primary);
}

.selectedTier .exclusivePrice {
  color: var(--clr-white);
}


.originalPrice {
  text-decoration: line-through;
  color: var(--clr-gray);
  margin-right: 0.4rem;
}

.exclusivePrice {
  color: var(--clr-primary);
}

.unitInput {
  width: 80px;
  padding: var(--padding-xxs) var(--padding-s);
  border: 1px solid var(--clr-gray);
  font-size: var(--font-size-base);
  text-align: center;
  z-index: 2;
}

.unitInputGroup {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.unitButton {
  background: none;
  border: 1px solid var(--clr-border);
  padding: var(--padding-xxs);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-white);
}

.unitButtonMinus{
  color: var(--clr-success);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.unitButtonPlus{
  color: var(--clr-danger);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.unitInput:focus {
  border-color: var(--clr-primary);
  outline: none;
}

.warning {
  margin-bottom: var(--gap-m);
}

/* Bottom Sticky Bar */
.stickyBar {
  position: fixed;
  bottom: 0;
  z-index: 10;
  border: 1px solid var(--clr-border);
  min-width: 600px;
  background-color: var(--clr-white);
  align-self: flex-end;
  bottom: 0;
  z-index: 1000;

}

.stickyBarContent {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--padding-xxs);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--clr-white);
}

.summaryTable {
  border-collapse: collapse;

}

.summaryTable th{
  font-weight: 600;
  background-color: var(--clr-gray-light);
}

.summaryTable th,
.summaryTable td {
  padding: var(--padding-s);
  text-align: left;
  border-right: 1px solid var(--clr-border);
  color: var(--clr-black);
}



.stickyBarActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding-s) var(--padding-s) var(--padding-s);
}

.actionButtons{
  display: flex;
  gap: var(--padding-s);
}

.totalPrice {
  font-size: 2rem;
  color: #000000;
  font-weight: bold;
}

.loading,
.error,
.noVariants {
  text-align: center;
  padding: var(--gap-l);
  font-size: var(--font-size-base);
  color: var(--clr-text);
}

/* Responsive Design */
@media (max-width: 1024px) {
  .productDetailsContainer {
    flex-direction: column;
  }

  .productImagesContainer {
    align-items: center;
  }

  .largePreviewImage {
    max-width: 100%;
  }

  .table {
    font-size: 1.4rem;
  }
}

@media (max-width: 540px) {
  :root {
    --font-size-base: 1.2rem;
    --font-size-heading: 1.4rem;
    --font-size-small: 1rem;
  }

  .variantNavBar,
  .stickyBarContent {
    max-width: 100%;
  }

  .unitInput {
    width: 60px;
  }

  .largePreviewImage {
    height: 200px;
  }

  .thumbnailImage {
    width: 60px;
    height: 60px;
  }
}
